# Exclude directories
static/css* linguist-vendored
macostudio/static/css* linguist-vendored

# Specify language for certain files
*.css linguist-language=CSS
*.json linguist-language=JSON

# Ignore minified JavaScript files
*.min.js linguist-vendored
